
@{
    ViewBag.Title = "GamePlay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GamePlay</h2>

<div class="col-md-3"></div>
<div class="col-md-6">
    <table id="board">
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<div class="col-md-3"></div>

